.page-done-recipes {
  background-color: #0b0b0d;
  height: 100vh;
  padding: 12px;
}

.done-recipe-image {
  border-radius: 5px;
}

.image {
  border-radius: 5px;
  width: 130px;
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipe {
  align-items: center;
  background-color: #0b0b0d;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 5px;
}

.recipe-infos {
  color: rgb(217, 193, 171);
  font-size: 20px;
  line-height: 15px;
  margin-left: 10px;
  width: 60%;
}

.done-date {
  font-size: 16px;
}

.tag {
  background-color: rgb(217, 193, 171);
  border-radius: 5px;
  color: #0b0b0d;
  font-size: 16px;
  padding: 2px;
}

.share-button {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.filter-btn {
  background-color: rgb(217, 193, 171);
  border: none;
  border-radius: 5px;
  color: #0b0b0d;
  font-size: 18px;
  margin: 10px 30px 10px 20px;
  padding: 5px 10px;
}

.name-share-button {
  display: flex;
  justify-content: space-between;
}
