.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  padding-top: 70px;
}

.explore-btn {
  background-color: black;
  border: none;
  box-shadow: 2px 2px 2px #bebebe;
  color: white;
  font-size: 20px;
  margin-bottom: 8px;
  padding: 6px;
}

.explore-ingredients-container {
  display: flex;
  flex-direction: row wrap;
  margin: 10px;
  margin-bottom: 50px;
}

.ingredient-btn {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
}

.ingredient-name {
  font-size: 18px;
  width: 50px;
}
