.page-food-details {
  width: 100vw;
}

.header-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.instructions {
  width: 336px;
}

.start_recipe_btn {
  position: fixed;
  padding: 5px;
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
  bottom: 0;
}

.start_recipe_btn:hover {
  position: fixed;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  border: solid 1.5px red;
  color: red;
  bottom: 0;
}

.meal_image {
  height: 155px;
  margin-bottom: 15px;
}

.favorite-btn, .share-btn {
  background-color: transparent;
  border: none;
}
