header {
  align-items: center;
  background-color: #be967e;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  width: 100vw;
}

.search-btn {
  background-color: transparent;
  border: none;
}

.page-title {
  font-size: 32px;
}
