.category-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 22px;
}

.category-btn {
  background-color: transparent;
  border: none;
  color: #be967e;
  display: flex;
  flex-flow: row wrap;
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}

.category-btn:hover {
  color: #d38154;
}
