.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px;
}

.input-search-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-type-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-type-option {
  margin-right: 5px;
}

.sidebar-search-btn {
  background-color: #0b0b0d;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  color: #d1d3d6;
  margin: 5px;
  margin-left: 6px;
  padding: 5px;
}

.search-input {
  border: 1px solid #0b0b0d;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
