@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

:root {
  --main-color: #0B0B0D;
  --secondary-color: #BE9675;
  --acent: #D9C1AB;
}

::selection {
  background-color: #e45858;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100%;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
